<web-app>
  <servlet>
    <servlet-name>lhs</servlet-name>
    <servlet-class>com.nt.servlet.LoginHelperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lhs</servlet-name>
    <url-pattern>/lhsurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>inbox</servlet-name>
    <servlet-class>com.nt.servlet.InboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inbox</servlet-name>
    <url-pattern>/inboxurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signout</servlet-name>
    <servlet-class>com.nt.servlet.SignoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signout</servlet-name>
    <url-pattern>/signouturl</url-pattern>
  </servlet-mapping>
  <filter>
   <filter-name>loginchecker</filter-name>
   <filter-class>com.nt.filter.InboxSessionLoginCheckerFilter</filter-class>
  </filter>
  <filter-mapping>
     <filter-name>loginchecker</filter-name>
     <url-pattern>/inboxurl</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>